
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    top: 250px;
}

.slick-prev:before {
    content: '\276E';

}

.slick-next {
    top: 250px;
}

.slick-next:before {
    content: '\276F';
}

.slick-slide {
    display: none;
    float: left;
    padding: 20px;
    height: 100%;
    min-height: 1px;
}

@media (max-width: 480px) {
    .slick-prev {
        left: 8%;
        top: -20px;
    }

    .slick-next {
        right: 8%;
        top: -20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .slick-prev {
        left: 25%;
        top: -20px;
    }
    .slick-next {
        right: 25%;
        top: -20px;
    }
}